<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= Flames.Router.static_path(@conn, "/css/flames-frontend.css") %>">
    <title>Flames</title>
  </head>
  <body>
        <div>
        <nav className="nav navbar-default">
          <div className="container-fluid">
            <div className="navbar-header">
              <a className="navbar-brand" href="javascript:void(0);">Flames</a>
            </div>
            <form className="navbar-form navbar-right" role="search">
              <div className="form-group">
                <input type="text" className="form-control" placeholder="Search"   />
              </div>
            </form>
          </div>
        </nav>
        <main className="container-fluid" role="main">
          <div className="col-xs-12">
    <%= render @view_module, @view_template, assigns %>
    </div>
        </main>
      </div>
  </body>
  <script src="<%= Flames.Router.static_path(@conn, "/js/app.js") %>" > </script>
</html>
